*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family:'Times New Roman', Times, serif;
}


.container{

    padding: 20px;
    /* border: 2px solid azure; */
    background-color: rgb(37, 52, 59);
    width:300px;
    margin:125px auto;
    height:300px;
    border-radius: 25px;

}

h2{ color: white;
    padding:5px 10px;
    background-color: aqua;
}

p{  
    color: rgb(124, 132, 135);
    padding:0 10px;
    font-size: 15px;
}

.lists{
    padding-top:10px;
    color: white;
    display: flex;
    list-style: none;
    justify-content: center;
    
}

.lists-items{
    text-align: center;
    margin: 5px;
    width:40px;
    padding: 10px;
    border:2px solid white;
    border-radius:50%;
}


button{
    font-family: inherit;
    width: 200px;
    cursor: pointer;
    display: block;
    margin: 25px auto;
    padding:5px 15px;
    border-radius: 50px;
    border: none;
    background-color: orange;
    color: white;
}
li:hover{
    cursor: pointer;
    background-color: rgba(203, 184, 184, 0.728);
}

